extends layout

include _includes/sharedHTMLfns

script(src='../node_modules/jquery/dist/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')

block content
	#banner.page-header
		.row
			.col-lg-6
				h1 JOAD
					small &nbsp;#{joad}
	.row
		.col-xs-12.col-sm-8
			h4
			p.lead #{title}
	.row
		.col-xs-12.col-sm-8
			.search-tabs-content
				.col-xs-12
					ul.nav.nav-tabs(role="tabs")
						each session in sessions
							if session.sessionId == 1
								li.active
									a(href="#tab#{session.sessionId}" role='tab' data-toggle='tab') #{session.sessionTitle}
							else
								li
									a(href="#tab#{session.sessionId}" role='tab' data-toggle='tab') #{session.sessionTitle}
						br
						br
						.tab-content
							each session in sessions
								if session.sessionId == 1
									.tab-pane.active(id='tab#{session.sessionId}')
										p.list
											.accordion(class='panel-group',
														id='accordion',
														role='tablist',
														aria-multiselectable='true')
												.panel.panel-default
													each student in students
														if student.session == 1
															h5.panel-heading
																a(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapse#{student.lName}#{student.fName}' aria-expanded='true' aria-control='collapse#{student.lName}#{student.fName}') #{student.fName} #{student.lName}
																	span.glyphicon.glyphicon-chevron-down.pull-right
															div(id='collapse#{student.lName}#{student.fName}').panel-body.collapse.out
																.panel-body
																	h4
																		span.label.label-default #{student.style}
																			|&nbsp;
																		span.label.label-default #{student.level}
																			|&nbsp;
																		small &nbsp;
																			+outputRank(student.rating)
																		br
																		.table
																			if student.shootScores
																				each score in student.shootScores
																					.tr
																						h4
																							span.label.label-default
																								+formatDate(score.shootDate)
																							span.label.label-info #{score.score}
								else if session.sessionId == 99
									.tab-pane(id='tab#{session.sessionId}')
										p.list
											.accordion(class='panel-group',
														id='accordion#{session.sessionId}',
														role='tablist',
														aria-multiselectable='true')
												.panel.panel-default
													each student in students
														h5.panel-heading
															a(role='button' data-toggle='collapse' data-parent='#accordion#{session.sessionId}' href='#collapse#{student.lName}#{student.fName}' aria-expanded='true' aria-control='collapse#{student.lName}#{student.fName}') #{student.fName} #{student.lName}
																span.glyphicon.glyphicon-chevron-down.pull-right
														div(id='collapse#{student.lName}#{student.fName}').panel-body.collapse.out
															.panel-body
																h4
																	span.label.label-default #{student.style}
																		|&nbsp;
																	span.label.label-default #{student.level}
																		|&nbsp;
																	small &nbsp;
																		+outputRank(student.rating)
																br
																.table
																	if student.shootScores
																		each score in student.shootScores
																			.tr
																				h4
																					span.label.label-default
																						+formatDate(score.shootDate)
																					span.label.label-info #{score.score}
								else
									.tab-pane(id='tab#{session.sessionId}')
										p.list
											.accordion(class='panel-group',
														id='accordion#{session.sessionId}',
														role='tablist',
														aria-multiselectable='true')
												.panel.panel-default
													each student in students
														if student.session == session.sessionId
															h5.panel-heading
																a(role='button' data-toggle='collapse' data-parent='#accordion#{session.sessionId}' href='#collapse#{student.lName}#{student.fName}' aria-expanded='true' aria-control='collapse#{student.lName}#{student.fName}') #{student.fName} #{student.lName}
																	span.glyphicon.glyphicon-chevron-down.pull-right
															div(id='collapse#{student.lName}#{student.fName}').panel-body.collapse.out
																.panel-body
																	h4
																		span.label.label-default #{student.style}
																			|&nbsp;
																		span.label.label-default #{student.level}
																			|&nbsp;
																		small &nbsp;
																			+outputRank(student.rating)
																	br
																	.table
																		if student.shootScores
																			each score in student.shootScores
																				.tr
																					h4
																						span.label.label-default
																							+formatDate(score.shootDate)
																						span.label.label-info #{score.score}