extends layout

block content
	#banner.page-header
		.row
			.col-lg-6
				h1 JOAD
					small &nbsp;Junior Olympic Archery Development
	.row
		.col-xs-12.col-sm-8
			h4
			p.lead #{title}
	.row
		.col-xs-12.col-md-9
			.row
				.panel.panel-primary
					.panel-heading
						h2.panel-title #{title_who.main}
					.panel-body
						h5
							p #{title_who.detail}
					.panel-heading
						h2.panel-title #{title_what.main}
					.panel-body
						h5
							p #{title_what.detail}
					.panel-heading
						h2.panel-title #{title_why.main}
					.panel-body
						h5
							p #{title_why.detail}
					.panel-heading
						h2.panel-title #{title_how.main}
					.panel-body
						h5
							p #{title_how.detail}
