mixin outputRank(rank)
	-for (var i = 1; i <= rank; i++)
		span.glyphicon.glyphicon-star
	-for (i = rank; i < 8; i++)
		span.glyphicon.glyphicon-star-empty

mixin formatDate(date)
	-var output = date.substring(0,10)
	=output

mixin list-group(items)
	ul.list-group
	each item, index in items
		li.list-group-item #{item}

mixin list-group-links(items,active)
	.list-group
	each item, index in items
		if(index === active)
			a.list-group-item.active(href="#{item.url}") #{item.text}
		else
			a.list-group-item(href="#{item.url}") #{item.text}

mixin list-group-item(url,active)
	if(active === "true")
		a.list-group-item.active(href="#{url}")
			block
	else
		a.list-group-item(href="#{url}")
			block

mixin list-group-custom()
	.list-group
		block